public/flow/port_function.json
[{"id":"28ff62a1.02243e","type":"ui_toast","z":"e24c2a28.96a858","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":670,"y":320,"wires":[]},{"id":"cddc9126.3f66","type":"function","z":"e24c2a28.96a858","name":"取回傳送命令資料","func":"node.warn('port function 取回傳送命令資料');\nlet selectData = context.global.selectData;\n\nif (selectData === undefined) {\n    selectData = 'AA01010100038E';\n}\n\n\nmsg.payload=selectData;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":780,"wires":[["76c6646e.296aec","54c52b1d.a281b4","74a10cdd.c427e4"]]},{"id":"76c6646e.296aec","type":"debug","z":"e24c2a28.96a858","name":"","active":true,"console":"false","complete":"false","x":440,"y":840,"wires":[]},{"id":"b6521645.483a08","type":"link in","z":"e24c2a28.96a858","name":"send_port_cmd","links":["77988a56.3f5d64"],"x":55,"y":780,"wires":[["cddc9126.3f66"]]},{"id":"21b107bc.8c9538","type":"ui_button","z":"e24c2a28.96a858","name":"","group":"8e7fd2b6.d022f","order":6,"width":0,"height":0,"passthru":false,"label":"清除訊息","color":"","bgcolor":"#ff1a1a","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":580,"wires":[["84d75650.cd5e08"]]},{"id":"84d75650.cd5e08","type":"function","z":"e24c2a28.96a858","name":"empty","func":"context.global.tmpData = \"\";\nmsg.payload = \"\";\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":580,"wires":[["74aff6c1.9ba728"]]},{"id":"54c52b1d.a281b4","type":"function","z":"e24c2a28.96a858","name":"clean ","func":"msg.payload = \"clean\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":720,"wires":[["559a4eb9.34d61"]]},{"id":"559a4eb9.34d61","type":"link out","z":"e24c2a28.96a858","name":"","links":["26a07dff.441982","77f32479.85d76c"],"x":555,"y":720,"wires":[]},{"id":"30bcc1de.bd7f8e","type":"inject","z":"e24c2a28.96a858","name":"每5秒自動查詢port list","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":"","x":180,"y":60,"wires":[["a264b47b.2ffe58"]]},{"id":"a264b47b.2ffe58","type":"function","z":"e24c2a28.96a858","name":"getPortList","func":"let work = context.global.work;\nwork.getPortList(function(err, ports){\n    var arr = [];\n    ports.forEach(function(port) {\n        // node.warn(port.comName);\n        arr.push(port.comName);\n    });\n    node.send({payload:arr, options:arr});\n});\n","outputs":1,"noerr":0,"x":130,"y":200,"wires":[["225ce8ea.e3f978","dd986958.c7fbb8"]]},{"id":"225ce8ea.e3f978","type":"debug","z":"e24c2a28.96a858","name":"","active":false,"console":"false","complete":"false","x":460,"y":80,"wires":[]},{"id":"ef61ca23.81e1f8","type":"ui_button","z":"e24c2a28.96a858","name":"","group":"8e7fd2b6.d022f","order":1,"width":"3","height":"1","passthru":false,"label":"查詢通訊埠","color":"","bgcolor":"#be9927","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":120,"wires":[["a264b47b.2ffe58"]]},{"id":"c6ee8e0c.dc699","type":"debug","z":"e24c2a28.96a858","name":"","active":true,"console":"false","complete":"false","x":700,"y":80,"wires":[]},{"id":"337de047.26717","type":"ui_template","z":"e24c2a28.96a858","group":"8e7fd2b6.d022f","name":"","order":2,"width":"3","height":"1","format":"<script>\nvar value = \"hello world\";\n// or overwrite value in your callback function ...\nthis.scope.action = function(event) { \n    var selectBox = document.getElementById(\"selectBox\");\n    var selectedValue = selectBox.options[selectBox.selectedIndex].value;\n    return selectedValue.trim(); \n}\n</script>\n<div style=\"width:170px;height:50px\">\n    選擇通訊埠\n    \n    <select id=\"selectBox\" ng-click=\"send({payload:action($this)})\">\n        <option ng-repeat=\"item in msg.payload\" [value]=\"item\" >\n          {{item}}\n        </option>\n    </select>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":650,"y":200,"wires":[["c6ee8e0c.dc699","d6131612.58e5a8"]]},{"id":"d6131612.58e5a8","type":"function","z":"e24c2a28.96a858","name":"context.global.com","func":"context.global.com = msg.payload;\nreturn null;\n","outputs":1,"noerr":0,"x":900,"y":200,"wires":[[]]},{"id":"e4472880.dabad8","type":"ui_button","z":"e24c2a28.96a858","name":"","group":"8e7fd2b6.d022f","order":3,"width":"3","height":"1","passthru":false,"label":"開啟通訊埠","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":280,"wires":[["e6859057.a1365"]]},{"id":"f186d237.9ad3f","type":"debug","z":"e24c2a28.96a858","name":"","active":false,"console":"false","complete":"false","x":660,"y":240,"wires":[]},{"id":"e6859057.a1365","type":"function","z":"e24c2a28.96a858","name":"連線檢查及回復訊息","func":"var com = context.global.com;\nvar portList = context.global.portList;\n\nif(portList.length === 0){\n    return [null, {payload:'通訊埠尚未連線!!!'}];\n} else if(portList.length > 1){\n    if(portList.indexOf(com) === -1){\n       return [null, {payload:'尚未選擇通訊埠!!!'}];\n    }\n} else {\n    com = portList[0];\n}\nlet work = context.global.work;\nwork.connectionPort2(com, function(myPort) {\n    myPort.on(\"open\", function () {\n        node.send([{payload:\"開啟通訊埠\"}, null]);\n        myPort.on('data', function(data) {\n            \n            var hex=0, str='';\n            // node.warn(\"data length : \" + data.length);\n            for(let i=0; i < data.length; ++i) {\n                hex = hex + data[i] + ' ';\n                str = str +String.fromCharCode(data[i]);\n            }\n            node.send([null, {payload:str}]);\n        });\n    });\n\n    myPort.on('close', function(){\n        port = null;\n        // reconnectDevice();\n        node.send([{payload:\"關閉通訊埠\"}, null]);\n    });\n    \n    myPort.on('error', function (err) {\n        node.warn(\"error\", err);\n         node.send([{payload:err.message}, null]);\n    });\n    \n    myPort.on('disconnected', function (err) {\n        port = null;\n        // reconnectDevice();\n        node.send([{payload:err.message}, null]);\n    });\n    \n});\n\n","outputs":"2","noerr":0,"x":370,"y":280,"wires":[["f186d237.9ad3f","be736c91.d99c7","28ff62a1.02243e"],["c8c1941a.5109d8","8a9f40fe.75a9a"]]},{"id":"be736c91.d99c7","type":"ui_text","z":"e24c2a28.96a858","group":"8e7fd2b6.d022f","order":5,"width":"0","height":"0","name":"","label":"通訊埠狀態 :","format":"{{msg.payload}}","layout":"row-spread","x":660,"y":280,"wires":[]},{"id":"c8c1941a.5109d8","type":"debug","z":"e24c2a28.96a858","name":"","active":false,"console":"false","complete":"payload","x":660,"y":360,"wires":[]},{"id":"dd986958.c7fbb8","type":"function","z":"e24c2a28.96a858","name":"save port list","func":"context.global.portList = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":200,"wires":[["337de047.26717"]]},{"id":"74aff6c1.9ba728","type":"ui_template","z":"e24c2a28.96a858","group":"8e7fd2b6.d022f","name":"","order":7,"width":0,"height":0,"format":"<div style=\"width:300px;height:420px;\" ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":930,"y":580,"wires":[[]]},{"id":"b5e01df8.1212d","type":"ui_button","z":"e24c2a28.96a858","name":"","group":"8e7fd2b6.d022f","order":4,"width":"3","height":"1","passthru":false,"label":"關閉通訊埠","color":"","bgcolor":"#ff8080","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":620,"wires":[["c2ed4e64.10b4a"]]},{"id":"c2ed4e64.10b4a","type":"function","z":"e24c2a28.96a858","name":"work.disconnectPort()","func":"let work = context.global.work;\nwork.disconnectPort();\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[[]]},{"id":"8a9f40fe.75a9a","type":"function","z":"e24c2a28.96a858","name":"解析port傳來資料","func":"var str = msg.payload;\nvar tmp = context.global.tmpData;\nif(tmp === undefined || tmp === null) {\n    tmp = \"\";\n}\ntmp = tmp + str + \"<br>\";\n// node.warn(tmp);\ncontext.global.tmpData = tmp;\nmsg.payload = tmp;\nif(context.global.isPort === false){\n    return [null, msg];\n}\n\nif( context.global.isTxdata=== true || str.indexOf(\"txData=\")>-1 || (str.indexOf(\"aa\")>-1 && str.indexOf(\"83\")>-1) || str.indexOf(\"8e\")>-1 ) {\n    //node.warn(\"msg.payload : \" +str);\n    if(str.indexOf(\"txData=\")>-1 && str.indexOf(\"aa\") == -1) {\n        context.global.test = '';\n        str = '';\n        context.global.isTxdata = true;\n        //node.warn(\"＿test  : 1-1 > \" + context.global.test);\n    } else if(str.indexOf(\"txData=\")>-1 && str.indexOf(\"aa\") > -1) {\n        str = str.replace(\"txData=\",\"\");\n        context.global.test = str;\n        context.global.isTxdata = true;\n        //node.warn(\"＿test  : 1-2 > \" + context.global.test);\n    } else if(str.indexOf(\"txData=\")==-1 && str.indexOf(\"aa\")>-1 ) {\n        \n        context.global.test = str;\n        context.global.isTxdata = true;\n        //node.warn(\"＿test  : 1-3 > \" + context.global.test);\n    } else if(str.indexOf(\"8e\") ===-1) {\n        //node.warn(\"＿test  : 2-1\");\n        context.global.test = context.global.test + str;\n    }\n    // node.warn(str.indexOf(\"8e\"));\n    if(str.indexOf(\"8e\")>-1 ) {\n        \n        if(context.global.test !== str) {//if is not Same time data\n            str = context.global.test + str;\n        }\n        //node.warn(\"＿test  : 2-2 > \" + str);\n        node.warn(\"port response  : \" + str);\n        let buff = new Buffer(str, 'hex');\n        let command = buff[2];\n        let code = buff[3];\n        //node.warn(code);\n        var msg1 = {};\n        msg1.payload = code;\n        context.global.responseMsg = {\"data\": str};\n        context.global.isTxdata = false;\n        return [{\"payload\": code}, msg];\n    }\n    \n    //node.warn(\"str  : \" + str);\n    return [null, msg];\n    \n} else {\n    return [null, msg];    \n}\n\n","outputs":"2","noerr":0,"x":660,"y":420,"wires":[["c5059e6.62c876","6e9a6ce9.78ac74","ae205c2d.cc914"],["74aff6c1.9ba728"]]},{"id":"74a10cdd.c427e4","type":"function","z":"e24c2a28.96a858","name":"port write message","func":"let work = context.global.work;\nlet data = msg.payload;\nwork.sendCommand(data, function(err){\n    if(err) {\n        node.send({payload:err});\n    }\n    node.send(null);\n});\n","outputs":1,"noerr":0,"x":480,"y":780,"wires":[["ceb462c8.fedac"]]},{"id":"ceb462c8.fedac","type":"ui_toast","z":"e24c2a28.96a858","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":739.1666717529297,"y":787.9999485015869,"wires":[]},{"id":"c5059e6.62c876","type":"switch","z":"e24c2a28.96a858","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"17","vt":"num"},{"t":"eq","v":"18","vt":"str"},{"t":"eq","v":"19","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":900,"y":420,"wires":[[],["94079794.b1ad58"],["836507e.160def8"]]},{"id":"6e9a6ce9.78ac74","type":"debug","z":"e24c2a28.96a858","name":"","active":false,"console":"false","complete":"false","x":900,"y":260,"wires":[]},{"id":"4c8543dc.9dc11c","type":"comment","z":"e24c2a28.96a858","name":"Send command","info":"","x":130,"y":720,"wires":[]},{"id":"94079794.b1ad58","type":"link out","z":"e24c2a28.96a858","name":"","links":["6e00e6b5.a79fd8"],"x":1075,"y":420,"wires":[]},{"id":"5ffdf1fa.f7a52","type":"comment","z":"e24c2a28.96a858","name":"解析port傳來資料","info":"","x":650,"y":500,"wires":[]},{"id":"836507e.160def8","type":"link out","z":"e24c2a28.96a858","name":"query_schdule","links":["3a2880d4.cd60b"],"x":1075,"y":460,"wires":[]},{"id":"295e9c53.d4d874","type":"comment","z":"e24c2a28.96a858","name":"query_schdule","info":"","x":1180,"y":460,"wires":[]},{"id":"f458fc2f.c6ce4","type":"comment","z":"e24c2a28.96a858","name":"query_config","info":"","x":1180,"y":420,"wires":[]},{"id":"ae205c2d.cc914","type":"function","z":"e24c2a28.96a858","name":"","func":"msg.payload = context.global.responseMsg.data;\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":360,"wires":[["d2b2ac0d.635b9"]]},{"id":"d2b2ac0d.635b9","type":"ui_text_input","z":"e24c2a28.96a858","name":"","label":"回復資料","group":"","order":6,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1090,"y":360,"wires":[[]]},{"id":"cdac2f77.22d67","type":"function","z":"e24c2a28.96a858","name":"clean response data","func":"msg.payload = '';\nreturn msg;","outputs":1,"noerr":0,"x":1020,"y":300,"wires":[["d2b2ac0d.635b9"]]},{"id":"2770f54b.bce4fa","type":"link in","z":"e24c2a28.96a858","name":"clean_response_data","links":["3f327f18.e1947"],"x":855,"y":300,"wires":[["cdac2f77.22d67"]]},{"id":"8e7fd2b6.d022f","type":"ui_group","z":"","name":"序列埠設定","tab":"c281729c.53193","order":1,"disp":true,"width":"6","collapse":false},{"id":"c281729c.53193","type":"ui_tab","z":"","name":"trigger","icon":"dashboard","order":4}]