public/flow/setting.json
[{"id":"3fc4019d.04263e","type":"debug","z":"e269951c.cce8f8","name":"","active":false,"console":"false","complete":"false","x":580,"y":320,"wires":[]},{"id":"eae1558e.b44108","type":"inject","z":"e269951c.cce8f8","name":"","topic":"","payload":"{\"test\":\"todo\"}","payloadType":"json","repeat":"","crontab":"","once":true,"x":180,"y":480,"wires":[["31c0ad6a.3ef422"]]},{"id":"cc0c337.9bce0d","type":"ui_form","z":"e269951c.cce8f8","name":"","label":"","group":"edbc8120.0d94d","order":0,"width":"0","height":"0","options":[{"label":"Lora MAC","value":"mac","type":"text","required":true},{"label":"GW ID","value":"gwId","type":"text","required":true}],"formValue":{"mac":"","gwId":""},"payload":"","submit":"","cancel":"","topic":"","x":230.62474060058594,"y":197.11638832092285,"wires":[["4dfb15c3.e6fb6c"]]},{"id":"38f3f12b.0b114e","type":"debug","z":"e269951c.cce8f8","name":"","active":true,"console":"false","complete":"false","x":840,"y":200,"wires":[]},{"id":"4dfb15c3.e6fb6c","type":"function","z":"e269951c.cce8f8","name":"set setting to flow ","func":"let setting = msg.payload;\n\ncontext.global.setting = setting;\nnode.warn(JSON.stringify(context.global.setting));\nmsg.payload = null;\nreturn msg;","outputs":1,"noerr":0,"x":415.624755859375,"y":199.1330270767212,"wires":[["31c0ad6a.3ef422","1dd2931e.9bc67d"]]},{"id":"4ccadec.495752","type":"comment","z":"e269951c.cce8f8","name":"MAC & GW ID setting","info":"","x":281.6247329711914,"y":153.04972076416016,"wires":[]},{"id":"c1ea55ce.2f7648","type":"ui_text_input","z":"e269951c.cce8f8","name":"","label":"","group":"f720426f.cc83e","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1003.3748054504395,"y":277.6499710083008,"wires":[[]]},{"id":"628da0aa.224ca","type":"function","z":"e269951c.cce8f8","name":"","func":"let setting = context.global.setting;\nif (setting) {\n    let msg1 = {\"payload\": setting.mac};\n    let msg2 = {\"payload\": setting.gwId};\n    return [msg1, msg2];\n}\n","outputs":"2","noerr":0,"x":841.3748435974121,"y":298.05013847351074,"wires":[["c1ea55ce.2f7648","adfd135.1fe20f"],["4824fd1f.aab544","c9e243f2.3bfc5"]]},{"id":"18734b17.4c4c55","type":"comment","z":"e269951c.cce8f8","name":"Show current MAC","info":"","x":802.374755859375,"y":254.0498752593994,"wires":[]},{"id":"4824fd1f.aab544","type":"ui_text_input","z":"e269951c.cce8f8","name":"","label":"","group":"917d729.841bc9","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":1004.0747718811035,"y":328.84983825683594,"wires":[[]]},{"id":"adfd135.1fe20f","type":"debug","z":"e269951c.cce8f8","name":"","active":false,"console":"false","complete":"false","x":1011.3748397827148,"y":237.98316764831543,"wires":[]},{"id":"c9e243f2.3bfc5","type":"debug","z":"e269951c.cce8f8","name":"","active":false,"console":"false","complete":"false","x":1009.0747566223145,"y":372.84981536865234,"wires":[]},{"id":"8bb153ac.0dd1c","type":"file","z":"e269951c.cce8f8","name":"","filename":"controlSetting.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":960,"y":160,"wires":[]},{"id":"31c0ad6a.3ef422","type":"function","z":"e269951c.cce8f8","name":"check setting","func":"init();\nlet setting = context.global.setting;\ncontext.global.serialNum = 0x00;\n// node.warn(JSON.stringify(setting));\nif (setting) {\n    msg.payload = true;\n} else {\n    msg.payload = false;\n}\nreturn msg;\n\nfunction init() {\n    node.warn('init----------------');\n    context.global.isPort = false;\n    context.global.config = {};\n    context.global.config.triggers = {};\n    context.global.config.triggers.t1 = {};\n    context.global.config.triggers.t2 = {};\n    context.global.config.triggers.t3 = {};\n    context.global.isTxdata = false;\n    \n    \n}","outputs":1,"noerr":0,"x":237.62476348876953,"y":300.58300018310547,"wires":[["a4e819ff.7f9b48"]]},{"id":"a4e819ff.7f9b48","type":"switch","z":"e269951c.cce8f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":401.62481689453125,"y":302.24952125549316,"wires":[["628da0aa.224ca"],["7b0f83fd.6881ec"]]},{"id":"1dd2931e.9bc67d","type":"function","z":"e269951c.cce8f8","name":"","func":"let setting = context.global.setting;\n// node.warn(JSON.stringify(setting));\nmsg.payload = setting;\nreturn msg;","outputs":1,"noerr":0,"x":639.1249160766602,"y":200.1331081390381,"wires":[["38f3f12b.0b114e","8bb153ac.0dd1c"]]},{"id":"7b0f83fd.6881ec","type":"file in","z":"e269951c.cce8f8","name":"","filename":"controlSetting.json","format":"utf8","x":437.5,"y":362.99999713897705,"wires":[["741acac.8792334","3fc4019d.04263e"]]},{"id":"741acac.8792334","type":"json","z":"e269951c.cce8f8","name":"","x":422.5000648498535,"y":426.1666030883789,"wires":[["b483b650.717ae8","aca111fc.dd618"]]},{"id":"b483b650.717ae8","type":"debug","z":"e269951c.cce8f8","name":"","active":false,"console":"false","complete":"false","x":456.2500762939453,"y":477.5000009536743,"wires":[]},{"id":"aca111fc.dd618","type":"function","z":"e269951c.cce8f8","name":"set setting to flow ","func":"let setting = msg.payload;\nif (setting !== undefined) {\n    node.warn(JSON.stringify(setting));\n    context.global.setting = setting;\n    msg.payload = setting;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":688.3749694824219,"y":424.83327293395996,"wires":[["628da0aa.224ca"]]},{"id":"687a671d.7c74d8","type":"file","z":"e269951c.cce8f8","name":"","filename":"test.json","appendNewline":true,"createDir":false,"overwriteFile":"true","x":547.4436721801758,"y":252.85826873779297,"wires":[]},{"id":"4b8baf75.4d9b5","type":"inject","z":"e269951c.cce8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":80,"wires":[["fbe66f4a.ade11"]]},{"id":"5a2ead0a.28b9e4","type":"comment","z":"e269951c.cce8f8","name":"Serial Number歸零","info":"","x":410,"y":40,"wires":[]},{"id":"fbe66f4a.ade11","type":"function","z":"e269951c.cce8f8","name":"","func":"context.global.enableSerialNum = true;\ncontext.global.serialNum = 0;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":80,"wires":[[]]},{"id":"5dae5810.651008","type":"inject","z":"e269951c.cce8f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":860,"y":80,"wires":[["30c68764.c48518"]]},{"id":"30c68764.c48518","type":"function","z":"e269951c.cce8f8","name":"","func":"context.global.enableSerialNum = false;\ncontext.global.serialNum = 0;\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":80,"wires":[[]]},{"id":"f101eb8.7f72518","type":"comment","z":"e269951c.cce8f8","name":"Serial Number is 0","info":"","x":860,"y":40,"wires":[]},{"id":"edbc8120.0d94d","type":"ui_group","z":"","name":"MAC & GW ID Setting","tab":"11ee1176.50c37f","order":1,"disp":true,"width":"12","collapse":false},{"id":"f720426f.cc83e","type":"ui_group","z":"","name":"MAC","tab":"11ee1176.50c37f","order":2,"disp":true,"width":"8","collapse":false},{"id":"917d729.841bc9","type":"ui_group","z":"","name":"GW ID","tab":"11ee1176.50c37f","order":3,"disp":true,"width":"8","collapse":false},{"id":"11ee1176.50c37f","type":"ui_tab","z":"","name":"Setting","icon":"dashboard","order":3}]